/* Classe pour les boutons stylisés */
.styled-button {
    font-family: 'Poppins', sans-serif; /* Police Poppins */
    color: white; /* Texte en blanc */
    font-size: 1.9em; /* Taille de police par défaut */
    flex: 1; /* Chaque bouton occupe une largeur égale */
    text-align: center; /* Centre le texte */
   
  }
  
  .styled-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Couleur de fond au survol */
    color: rgb(0, 36, 112); /* Couleur du texte au survol */
  }
  
  .styled-button:focus {
    outline: none; /* Supprime le contour par défaut */
  }
  
  /* Responsivité pour les écrans de taille moyenne */
  @media (max-width: 1280px) {
    .styled-button {
      font-size: 1.5em; /* Taille de police réduite */
    }
  }
  
  /* Responsivité pour les écrans de taille petite */
  @media (max-width: 960px) {
    .styled-button {
      font-size: 1.2rem; /* Taille de police réduite */
    }
  }
  
  /* Responsivité pour les très petits écrans (mobiles) */
  @media (max-width: 600px) {
    .styled-button {
      font-size: 0.7rem; /* Taille de police réduite */
    }
  }
  