
/* Styles par défaut pour les tailles d'écran grandes */
.Heading {
  font-size: 3rem;
}

.Subheading {
  font-size: 1.7rem;
}

.Body1 {
  font-size: 1.5rem;
}

.Body2 {
  font-size: 1.25rem;
}

/* Styles pour les écrans de taille moyenne */
@media (max-width: 1280px) {
  .Heading {
    font-size: 2.8rem;
  }

  .Subheading {
    font-size: 1.6rem;
  }

  .Body1 {
    font-size: 1.375rem;
  }

  .Body2 {
    font-size: 1.125rem;
  }
}

/* Styles pour les écrans de taille petite */
@media (max-width: 960px) {
  .Heading {
    font-size: 2.7rem;
  }

  .Subheading {
    font-size: 1.5rem;
  }

  .Body1 {
    font-size: 1.25rem;
  }

  .Body2 {
    font-size: 1rem;
  }
}

/* Styles pour les très petits écrans (mobiles) */
@media (max-width: 600px) {
  .Heading {
    font-size: 2rem;
  }

  .Subheading {
    font-size: 1.5rem;
  }

  .Body1 {
    font-size: 1rem;
  }

  .Body2 {
    font-size: 0.875rem;
  }
}
.carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;

}
.carousel .carousel-status {
  display: none;
  /* Masquer le texte de statut "2 of 3" */
}
.carousel-image {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .carousel-image {
    height: 40vw; /* Ajuster la hauteur pour les écrans plus petits */
  }
}

@media (max-width: 768px) {
  .carousel-image {
    height: 30vw; /* Encore plus petite pour les tablettes et petits écrans */
  }
}

@media (max-width: 480px) {
  .carousel-image {
    height: 20vw; /* Taille minimale pour les mobiles */
  }
}


